#add-bookmark-form {
    position: relative;
    width: 100%;
    right: 2%;
    border: 4px black solid;
    margin-bottom: 10px;
    display: none;
}
.expandedContainer{
    display: none;
}

.new-bookmark-name, .new-bookmark-url, .new-bookmark-description{
    margin-bottom: 10px;
}

#url-alert{
    color: red;
    font-size: 12px;
}
.expanded .expandedContainer {
    display: block;
}
ul {
    list-style-type: none;
    position: relative;
  }
  h1{
      text-align: center;
  }
.bookmark-element {
    position: relative;
    right: 10%;
    border: 4px black solid;
    margin-bottom: 15px;
    border-radius: 15px;
    padding-left: 10px;
}


.expanded-footer{
position: relative;
right: 10%;
}

#add-filter-buttons{
    position: relative;
    
    width: 100%;

}
.js-new-bookmark-description{
    resize: both;
    overflow: auto;
}

#bookmark-url, .remove-bookmark{
    position: relative;
    left: 60px;
}